.playlist {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.track {
  width: 250px;
  margin: 10px;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #f4f4f4;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.track img {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 10px;
}

.track h3 {
  font-size: 18px;
  margin-top: 10px;
}

.track p {
  font-size: 14px;
  color: gray;
  margin-bottom: 10px;
}

.removeButton {
  padding: 8px 12px;
  font-size: 16px;
  color: white;
  background-color: #dc3545; /* Red color for the button */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  position: absolute;
  bottom: 15px;
}

.removeButton:hover {
  background-color: #c82333; /* Darker red for hover effect */
}

.removeButton:focus {
  outline: none;
}

.removeButton:active {
  background-color: #bd2130;
}
